################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/aihr.assessment.simple/.vs/aihr.assessment.simple
