mat-toolbar {
    display: flex;
  }

  .aihr-spacer {
    flex: 1 1 auto;
  }

  .custom-toolbar {
    background-color: #e5fcfc;
    padding: 0 5px;
    height: 55px;
  }

  .logo {
    margin-left: 300px;
    display: inline-flex;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }